@import './../../style/colors';

.username {
  padding: 7px 15px;
  background-color: $defaultDark;
  color: $defaultLight;
  font-size: 16px;
  border: 1px solid $purpleDark;
  border-radius: 10px;
  cursor: text;
}
