@import './../../style/colors';

.select-diff {
  list-style-type: none;

  li {
    input {
      margin: 15px 10px 0 0;
      cursor: pointer;
    }

    label {
      color: $defaultLight;
      user-select: none;
    }
  }
}
