@import './../../../style/colors';

.btn {
  padding: 7px 15px;
  background-color: $defaultDark;
  color: $defaultLight;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid $purpleDark;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px $purpleDark inset;
  outline: none;
  user-select: none;
  cursor: pointer;
  &:hover {
    border: 1px solid $purpleLight;
    box-shadow: 0 0 5px 1px $purpleLight inset;
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 10px 20px;
  }
}
