@import './../../style/flexbox';

.page {
  width: 100%;
  height: 100vh;
  @include flex-col;
  justify-content: space-between;

  .page-content {
    width: 100%;
    height: 85vh;
    @include flex-col;
  }

  .btn-bar {
    width: 100%;
    height: 15vh;
    @include flex-row;
  }
}

@media only screen and(min-width: 768px) {
  .page {
    width: 75%;

    .btn-bar {
      width: 50%;
    }
  }
}
