@import './../../../style/colors';
@import './../../../style/flexbox';

.title {
  @include flex-col;

  h2 {
    color: $purpleDark;
    font-size: 70px;
    user-select: none;
    cursor: default;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: $purpleDark;
  }

  h3 {
    color: $purpleLight;
    font-size: 30px;
    user-select: none;
    cursor: default;
  }
}

@media only screen and(min-width: 768px) {
  .title {
    h2 {
      font-size: 80px;
      text-shadow: -2px 2px $defaultDark;
    }

    .line {
      box-shadow: -2px 2px $defaultDark;
    }

    h3 {
      font-size: 35px;
      text-shadow: -2px 2px $defaultDark;
    }
  }
}
