#game {
  .timer {
    color: $purpleLight;
    font-size: 2em;
    text-align: center;
  }

  .hints {
    text-align: center;
    svg {
      height: 3em;
      g {
        fill: $purpleLight;
      }
    }
  }

  .buttons {
    justify-content: space-evenly;
  }

  .chart {
    border: none;

    .row {
      border: none;

      &:nth-child(3n) {
        border-bottom: 2px solid $defaultDark;
      }
      &:nth-last-child(3n) {
        border-top: 2px solid $defaultDark;
      }

      input {
        &:nth-child(3n) {
          border-right: 2px solid $defaultDark;
        }
        &:nth-last-child(3n) {
          border-left: 2px solid $defaultDark;
        }

        // width: 50%;
        // border: none;
        // border-collapse: collapse;

        // height: 30px;
        width: 10%;
        background: linear-gradient(to bottom, $purpleLight, transparent 130%);
        color: $defaultDark;
        border: 1px solid $defaultDark;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
