main {
  .timer {
    font-size: 2rem;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  table {
    border: 1px solid #000;
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #000;
        border-collapse: collapse;
        .cell-inp {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
