#start {
  .title {
    margin: 5vh 0;
    text-align: center;

    h3 {
      color: $purpleDark;
      font-size: 10vh;
    }

    .line {
      height: 2px;
      width: 100%;
      background-color: $purpleDark;
    }

    h4 {
      color: $purpleLight;
      font-size: 4vh;
    }
  }

  form {
    margin-top: 10vh;
    height: 40vh;
    display: grid;
    place-items: center;

    .name {
      background-color: $defaultDark;
      border: 1px solid $purpleDark;
      border-radius: 0.5em;
      box-shadow: 0 0 3px $purpleDark inset;
      font-size: 3vh;
      cursor: text;

      &::placeholder {
        color: $defaultLight;
      }
    }

    .diff {
      margin-right: 1em;
      cursor: pointer;
    }

    label {
      font-size: 3vh;
    }
  }
}
