* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header,
main,
footer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header {
  background-color: #010813;
  color: #808898;
}

header .heading {
  width: 100%;
  margin: 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header .heading h2 {
  font-size: 10vh;
  color: #9867f0;
}

header .heading h3 {
  font-size: 4vh;
  color: #c2a0fd;
}

header .heading .line {
  width: 80%;
  height: 2px;
  background-color: #9867f0;
}

header form {
  height: 60vh;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header form .name-inp {
  width: 100%;
  padding: 10px;
  border-radius: 1em;
  font-size: 3vh;
  cursor: pointer;
}

header form .name-inp::-webkit-input-placeholder {
  color: #808898;
}

header form .name-inp:-ms-input-placeholder {
  color: #808898;
}

header form .name-inp::-ms-input-placeholder {
  color: #808898;
}

header form .name-inp::placeholder {
  color: #808898;
}

header form .diff-box label {
  display: block;
  margin: 0.5em 0;
  font-size: 3vh;
  cursor: pointer;
}

header form .diff-box label .diff-inp {
  margin-right: 1em;
  -webkit-filter: drop-shadow(0 0 5px #808898);
          filter: drop-shadow(0 0 5px #808898);
  cursor: pointer;
}

main {
  background-color: #010813;
  color: #808898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .timer {
  font-size: 2rem;
}

main .hints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main table {
  border: none;
  border-collapse: collapse;
}

main table tr:nth-child(3n) {
  border-bottom: 3px solid #24243e;
}

main table tr:nth-last-child(3n) {
  border-top: 3px solid #24243e;
}

main table tr td {
  border: none;
  border-collapse: collapse;
}

main table tr td:nth-child(3n) {
  border-right: 3px solid #24243e;
}

main table tr td:nth-last-child(3n) {
  border-left: 3px solid #24243e;
}

main table tr td .cell-inp {
  width: 10vw;
  height: 10vw;
  background-color: transparent;
  color: #808898;
  border: 1px solid #24243e;
  border-radius: 0%;
  font-size: 2rem;
  text-align: center;
}

button {
  padding: 0.3em 1em;
  border-radius: 0.5em;
  font-size: 4vh;
  cursor: pointer;
}

.interactive {
  background-color: #24243e;
  color: #808898;
  border: 1px solid #808898;
  -webkit-box-shadow: 0 0 5px #9867f0 inset;
          box-shadow: 0 0 5px #9867f0 inset;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */