* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #252848;
$darker: #202340;
$lighter: #2e3157;
$accentBlue: #5778f2;
$textSoft: #555a85;
$textBold: #858ab5;
$textNeutral: #e7e8ea;

.SUDOKU {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background;
  box-shadow: 0 0 1em #000 inset;
  border-radius: 1em;

  button {
    padding: 12px 28px;
    background-color: transparent;
    border: 1px solid $accentBlue;
    border-radius: 10px;
    color: $textNeutral;
    font-size: 14px;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: $lighter;
    }
  }

  .start-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 3px #000;

    button {
      width: 250px;
      margin-top: 10px;
      background-color: $accentBlue;
      color: $textNeutral;
      &:hover,
      &:active {
        background-color: $darker;
      }
    }

    .difficulty {
      margin-top: 50px;
      display: flex;
      .radio-group {
        margin: 3px 10px;
        display: flex;
        align-items: center;
        input {
          margin-right: 7px;
          cursor: pointer;
        }
        label {
          color: $textNeutral;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }

    .personal-best {
      color: $textBold;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0 20px;
        text-align: center;
      }

      table {
        th,
        td {
          padding: 0 7px;
          text-align: center;
        }
        .diff {
          text-align: left;
        }
      }
    }
  }

  .game-page {
    position: relative;

    .timer {
      margin-bottom: 5px;
      color: $textNeutral;
      font-size: 20px;
      text-align: center;
    }

    .hints {
      width: 300px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      svg {
        width: 50px;
        height: 50px;
        fill: $accentBlue;
      }
    }

    .game-table {
      border-collapse: collapse;
      background-color: $lighter;

      tr {
        &:nth-child(3n) {
          border-bottom: 1.5px solid #000;
        }
        &:nth-last-child(3n) {
          border-top: 1.5px solid #000;
        }

        td {
          &:nth-child(3n) {
            border-right: 1.5px solid #000;
          }
          &:nth-last-child(3n) {
            border-left: 1.5px solid #000;
          }

          width: 50px;
          height: 50px;
          border: 0.5px solid #000;
          color: $textBold;
          text-align: center;
          cursor: pointer;

          &:hover,
          &:active {
            background-color: $accentBlue;
            color: $darker;
          }
        }

        .computed {
          background-color: rgba(0, 0, 0, 0.2);
          cursor: not-allowed;
          &:hover,
          &:active {
            background-color: rgba(0, 0, 0, 0.2);
            color: $textBold;
          }
        }
      }
    }

    .controls {
      width: 400px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .num-widget {
    width: 70px;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: $textSoft;
    border: 0.5px solid $textNeutral;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .num {
      flex-basis: 33%;
      color: $textNeutral;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      &:hover,
      &:active {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        color: #fff;
      }
    }
  }
}
